OPENAI_API_KEY=sk-
REVIEWER_PW=test
LLM_ORG_ID=
LLM_ORG_TENANT_ID=core//
LLM_API_KEY=
LLM_API_BASEURL=https://bot-svc-llm.sfproxy.einstein.dev1-uswest2.aws.sfdc.cl
LLM_FEATURE_ID=
SLACK_APP_TOKEN=
SLACK_BOT_TOKEN=
TARGET_CHANNEL_ID=
TARGET_WORKFLOW_ID=
#ACTIVE_AGENT_MODE=1